<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/19bef6f3-1177-40ab-b901-ca08203ef74a/resourcegroups/DefaultResourceGroup-CHN/providers/Microsoft.ContainerRegistry/registries/SameApiModel20251010150345</ResourceId>
    <ResourceName>SameApiModel20251010150345</ResourceName>
    <ResourceGroup>DefaultResourceGroup-CHN</ResourceGroup>
    <Subscription>Same Azure Credit</Subscription>
    <RegistryUrl>sameapimodel20251010150345.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>